.card-btn {
  border: none;
  background-color: transparent;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.card-btn:hover {
  cursor: pointer;
  background-color: darkgoldenrod;
  color: black !important;
}

.content-card__brand-border {
  height: 1px;
  width: 100%;
}
